.table-wrapper {
  display: flex;
  justify-content: center; 
  padding:25px 200px 75px;        
  width: 100%;
}

.table-th {
    border-bottom: 2px solid #ccc;
    text-align: left;
    padding: 10px;
    font-weight: bold;
}

.table-td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}


.row-closed {
    padding: 8px;
    cursor: pointer;
    background: #f9f9f9;
    border-style: groove;
    border-radius: 5px;
    text-align: left;
    transition: 0.4s;

}

.row-closed:hover {
    background-color: #ccc;
}


.row-open {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.buttons {
    display: flex;

}

.btn {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    border-style: groove;
}

.btn:hover {
    background-color: #308add;
    color: aliceblue;
}

.btn-delete:hover {
    background-color: #c52f1b;
    color: aliceblue;
}